<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/oie_jpg.png" class="img-fluid" id="profilepic" />
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="name">Federico Robledo</p>
      <p>Jr Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h1 id="aboutme">Acerca de mi</h1>
      <p>
        Actualmente me encuentro dando mis primeros pasos como programador, habiendo comenzado recientemente estudios relacionados al área. Realice cursos en Coderhouse, Freecodecamp, Openbootcamp y mas recientemente las 2 etapas de Argentina Programa. Tambien soy egresado de la Facultad de Derecho de la Universidad Nacional de Mar del Plata, habiendo ejercido como abogado. 
      </p>
    </div>
  </div>
