<div class="row">
    <h1 class="educ">Educacion</h1>
    <div class="cursos">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/APLogo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Argentina Programa</h5>
        <p class="card-text">1era etapa "Yo Programo"</p>
        <button class="btn btn-danger"> Ver certificado</button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/APLogo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Argentina Programa</h5>
        <p class="card-text">2da etapa "Se programar"</p>
        <button class="btn btn-danger"> Ver certificado</button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/303-3036579_free-code-camp-logo-transparent.png" class="card-img-top img-fluid freecodeimg">
      <div class="card-body">
        <h5 class="card-title">Freecodecamp</h5>
        <p class="card-text">Responsive web design.</p>
        <a href="https://www.freecodecamp.org/certification/FeDev/responsive-web-design"> <button class="btn btn-danger">Ver certificado</button></a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/oie_2912149jP8doCPi.png" class="card-img-top img-fluid unmdplogo">
      <div class="card-body">
        <h5 class="card-title">Universidad Nacional de Mar del Plata</h5>
        <p class="card-text">Abogado</p>
        <button class="btn btn-danger">Ver certificado</button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/coder-logo-white_t41xzb.png" class="card-img-top img-fluid coderlogo">
      <div class="card-body">
        <h5 class="card-title">Coderhouse</h5>
        <p class="card-text">Curso en Javascript</p>
        <a href="https://www.coderhouse.com/certificados/62ead190985557002457f6f2"><button class="btn btn-danger"> Ver certificado</button></a> 
      </div>
    </div>
</div>
  