<div class="row">
    <h1 class="educ">Educacion</h1>
    <div class="cursos">
      <div class="lg-12">
        <ul>
          <li>
            <img src="../../../assets/APLogo.png" class="img-fluid aplogo" />
          </li>
          <button class="btn btn-danger"> Ver certificado</button>
          <li>
            <img src="../../../assets/APLogo.png" class="img-fluid aplogo" />
          </li>
          <button class="btn btn-danger"> Ver certificado</button>
          <li>
            <div class="col-sm-12" id="freecode">
              <img
                src="../../../assets/303-3036579_free-code-camp-logo-transparent.png"
                class="img-fluid freecodeimg"
              />
            </div>
          </li>
           <a href="https://www.freecodecamp.org/certification/FeDev/responsive-web-design"> <button class="btn btn-danger">Ver certificado</button></a>
          <li>
            <div class="col-sm-12" id="unmdpimg">
              <img
                src="../../../assets/oie_2912149jP8doCPi.png"
                class="img-fluid unmdplogo"
              />
              <div class="titulo"> 
              </div>
            </div>
          </li>
          <button class="btn btn-danger" id="boton"> Ver certificado</button>
          <li>
            <div class="col-sm-12" id="coderimg">
              <img
              src="../../../assets/coder-logo-white_t41xzb.png"
                class="img-fluid coderlogo"
              />
            </div>
          </li>
          <a href="https://www.coderhouse.com/certificados/62ead190985557002457f6f2"><button class="btn btn-danger"> Ver certificado</button></a> 
        </ul>
      </div>
    </div>
   
  