*{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    
}
h1{
    display: inline;
    
}
.educ {
    margin-left: 1rem;
    margin-top: 5rem;
    font-size: 1.5rem;
}

li {
    display: inline-block;
    margin: 2rem;
    
}
.unmdplogo {
    width: 10rem;
    float: left;

}
.unmdp {
    margin: auto;
   
}
#unmdpimg {

    height: 8rem;
}
.freecodeimg {
    float: left;
    width: 10rem;

}
.aplogo {
    width: 10rem;
    float: left;
}
.titulo {
    width: 50%;
    align-items: center;
}
.coderlogo{
    margin-top: 5rem;
    width: 30%;
}