*{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    
}
h1{
    display: inline;
    
}
.educ {
    
    margin-top: 5rem;
    font-size: 1.5rem;
}

li {
    display: flex;
    margin: 2rem;
    
}
.unmdplogo {
    width: 10rem;
    float: left;

}
.unmdp {
    margin: auto;
   
}
#unmdpimg {

    height: 8rem;
}
.freecodeimg {
    float: left;
    width: 7rem;

}
.aplogo {
    width: 10rem;
    float: left;
}
.titulo {
    width: 50%;
    align-items: center;
}
.coderlogo{
    margin-top: 5rem;
    width: 30%;
}
#boton{
    margin-top: 3rem;
}

@media (max-width: 590px){
    .coderlogo {
        width: 50%;
    }
}

.card {
    margin: 1rem;
    border: none;
}