html,
body,
.intro {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 750px) {
  html,
  body,
  .intro {
    height: 830px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .intro {
    height: 830px;
  }
}

.gradient-custom {
  /* fallback for old browsers */
  background: black;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(120deg, #3d3d29, #000000);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(120deg, #3d3d29, #000000)
}

.fw-bold{
  margin-bottom: 2rem;
}