*{
    background-color: black;
    color: white;
    font-size: 1.5rem;
}
.skills {
    
    margin-top: 3rem;
    font-size: 1.5rem;
    margin-bottom: 5rem;
}
.htmlimg {
    margin-left: 1rem;
    width: 6.25rem;
    
}
.cssimg {
    width: 7.8rem;
}
.jsimg {
    width: 7rem;
}
.angimg {
    width: 7.8rem;
}
.gitimg {
    width: 7rem;
}
.bigBar1 {
    height: 20px;
    background-color: rgb(49, 8, 88);
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 9px;
    width: 90%;
    animation: prog-animation 4s forwards;
}

.bigBar2 {
    height: 20px;
    background-color: rgb(49, 8, 88);
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 9px;
    width: 90%;
    animation: prog-animation 4s forwards;
}

.bigBar3 {
    height: 20px;
    background-color: rgb(49, 8, 88);
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 9px;
    width: 75%;
    animation: prog-animation 4s forwards;
}

.bigBar4{
    margin-top: 2.2rem;
    height: 20px;
    background-color: rgb(49, 8, 88);
    position: relative;
    border-radius: 9px;
    margin-bottom: 3rem;
    width: 60%;
    animation: prog-animation 4s forwards;
}

.bigBar5 {
    height: 20px;
    background-color: rgb(49, 8, 88);
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 9px;
    width: 70%;
    animation: prog-animation 4s forwards;
}

@media (max-width: 700px){
    .row {
        display: grid;
        width: 50%;
    }
}
.percent{
    position: absolute;
    background-color: rgb(49, 8, 88);
    font-size: 1rem;
    height: 100%;
    margin-left: 2rem;
}

@keyframes prog-animation {
    0% {width: 0%;}
    100% {width: 100%;}
}
#newskill {
    font-size: 1rem;
}
#new {
    margin: 1rem;
    font-size: 1rem;
}