<div class="row">
    <h1 class="skills">Hard/Soft Skills</h1>
  
    <div class="col -sm-4 col -md-4 col -lg-4" id="html">
      <div class="htmldiv">
        <img
          src="../../../assets/PngItem_4640079.png"
          class="img-fluid htmlimg"
        />
      </div>
      <div class="bigBar" id="htmlbar">
        <div class="smallBar"></div>
      </div>
    </div>
  
    <div class="col -sm-4 col -md-4 col -lg-4" id="css">
      <div class="cssdiv">
        <img
          src="../../../assets/css-3-1-logo-black-and-white.png"
          class="img-fluid cssimg"
        />
      </div>
      <div class="bigBar" id="cssbar">
        <div class="smallBar"></div>
      </div>
    </div>
  
    <div class="col -sm-4 col -md-4 col -lg-4" id="jscript">
      <div class="jsdiv">
        <img src="../../../assets/jslogoresized.png" class="img-fluid jsimg" />
      </div>
      <div class="bigBar">
        <div class="smallBar"></div>
      </div>
    </div>
    
    
    <div class="col -sm-4 col -md-4 col -lg-4" id="angular">
      <div class="angdiv">
        <img src="../../../assets/angular_whiteTransparent.png" class="img-fluid angimg" />
      </div>
      <div class="bigBar1">
        <div class="smallBar1"></div>
      </div>
    </div>
    
    
    <div class="col -sm-4 col -md-4 col -lg-4" id="git">
      <div class="gitdiv">
        <img src="../../../assets/Git-Icon-White.png" class="img-fluid gitimg" />
      </div>
      <div class="bigBar">
        <div class="smallBar"></div>
      </div>
    </div>
  </div>